<div ng-app="myApp.team_view">
    <div class="container">
        <span class="dark" ng-if="!(loading.pendingRequests.length === 0)">
                    <span class="text">
                        <div class="loader" style="background-color: rgba(0, 0, 0, 0.66);
    box-shadow: 0 0 2px 2px #FFD54F;">
                        </div>
                        <span class="text fas fa-poo"></span>
                    </span>
                </span>
        <div class="teamMain createTeam row">
            <div class="col-sm-4">
                <div class="row">
                    <label>Name:</label>
                    <input class="text-center" ng-model="myData.team.team_name">
                </div>
                <div class="row">
                    <lable>Company:</lable>
                    <input class="text-center" value="{{ myData.team.team_company}} {{myData.team.team_location}}">
                </div>
                <div class="row">
                    <label>Size: </label>
                    <input class="text-center" max="15" min="1"
                           ng-blur="updateTeam(myData.team.team_size,myData.team.team_name,myData.team.team_role,myData.team.team_company)"
                           ng-model="myData.team.team_size"
                           type="number"
                           value="{{ myData.team.team_size }}">
                </div>
                <div class="row">
                    <lable>Role:</lable>
                    <select class="text-center"
                            ng-change="updateTeam(myData.team.team_size,myData.team.team_name,myData.team.team_role,myData.team.team_company)"
                            ng-model="myData.team.team_role">
                        <option class="text-center" ng-selected="selected" value="{{myData.team.team_role}}">
                            {{myData.team.team_role}}
                        </option>
                        <option ng-repeat="role in roles" value="{{role}}">{{role}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <h5>Team Compatibility</h5>
                <h5 ng-bind="team_percentage + '%'" ng-style="team_compatibility_color"
                    style="margin: 0;font-size: 4rem;"></h5>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-outline-success"
                        ng-click="updateTeam(myData.team.team_size,myData.team.team_name,myData.team.team_role,myData.team.team_company)"
                        style="background-color: {{team.team_compatibility_color}}"
                        title="Regenerate new team with the current role and team size."
                        type="button">
                    Regenerate Team
                </button>
                <button class="btn btn-outline-success" ng-click="randomTeam()" ng-style="getStyleColor"
                        title="Create a random team." type="button">Random
                    Team
                </button>
            </div>
        </div>
        <h3 class="teamName text-center row" ng-bind="myData.team.team_name"></h3>
        <div class="memContainer row">
            <div class="text-center" ng-repeat="mem in members">
                <div class="profCard"
                     style="background-color: {{mem.mbti.BGColor}}; color: {{mem.mbti.FTColor}}">
                    <h5>{{mem.name}}</h5>
                    <p style="margin-top: -1rem">{{myData.team.team_role + ' ' + mem.level}}</p>
                    <img class="avatar mx-auto d-block" src={{mem.jobavatar.Source}}
                         style="border-color: {{mem.mbti.FTColor}}">
                    <p>
                        <select class="personaType"
                                ng-change="updateTeamMember(mem.id,mem.personality)"
                                ng-model="mem.personality"
                                style="color: {{mem.mbti.BGColor}}; background-color: {{mem.mbti.FTColor}};">
                            <option ng-selected="selected" value="{{mem.personality}}">{{mem.personality}}
                            </option>
                            <option label="{{p.ID + ' - ' + p.AltName}}" ng-repeat="p in team_personalities"
                                    value="{{p.ID}}"></option>
                        </select>
                    </p>
                    <div class="personaCard">
                        <span class={{mem.mbti.Class}}></span>
                        <p>
                            <b>{{mem.mbti.AltName}}</b>
                            <i>{{mem.mbti.Description}}</i>
                        </p>
                    </div>
                    <div class="list-group list-group-flush text-left" style="line-height: 0">
                        <div class="list-group-item">
                            <label>Age: </label>
                            <input max="100" min="18" ng-model="mem.age" type="number"
                                   value="{{mem.age}}">
                        </div>
                        <div class="list-group-item">
                            <lable>Ethnicity:</lable>
                            <select style="text-align-last: center;">
                                <option label="{{mem.ethnicity}}" selected="selected"></option>
                                <option ng-repeat="e in ethnicities" value="{{e}}">{{e}}</option>
                            </select>
                        </div>
                        <div class="list-group-item">
                            <lable>Gender:</lable>
                            <span>{{mem.gender}}</span>
                        </div>
                        <div class="list-group-item">
                            <lable>Happiness:</lable>
                            <span>{{mem.happiness}}</span>
                        </div>
                        <div class="list-group-item">
                            <lable>Status:</lable>
                            <span>{{mem.status}}</span>
                        </div>
                        <div class="list-group-item">
                            <lable>Title:</lable>
                            <span>{{mem.title + ' ' + mem.level}}</span>
                        </div>
                    </div>
                    <div class="details"
                         style="border-color: {{mem.mbti.BGColor}}; background-color: {{mem.mbti.FTColor}}; color: {{mem.mbti.BGColor}}">
                        <div class="strengths">
                            <h5>Strengths</h5>
                            <ul ng-repeat="s in mem.mbti.Strengths">
                                <li>{{s}}</li>
                            </ul>
                        </div>
                        <div class="weaknesses">
                            <h5>Weaknesses</h5>
                            <ul ng-repeat="w in mem.mbti.Weaknesses">
                                <li>{{w}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

