body {
    background: #212529;
    color: rgba(255, 255, 255, .8);
    font-family: Poppins, sans-serif;
}

.teamMain {
    background-color: #27293d;
    margin-bottom: 2rem;
}

.createTeam {
    padding: .5rem;
    box-shadow: -5px 5px 7px 0px #000000ad;
    line-height: 1rem;
}

.createTeam input, select {
    background: inherit;
    color: inherit;
    border: inherit;
    padding-left: .5rem;
}

.createTeam input:hover, select:hover {
    border-bottom: .02rem solid #bac9c7f2;
}

.createTeam input:focus {
    text-align: center;
}

.memContainer {
    box-shadow: inset -11px 4px 8px #00000082;
    background-color: rgba(0, 0, 0, 0.15);
    min-width: 740px;
    padding: 2rem;
}

.avatar {
    background: #9e9e9e61;
    border-radius: 0.1em;
    border: 1rem double wheat;
    -webkit-box-shadow: rgba(0, 0, 0, 0.31) -5px -107px 72px -24px inset;
    box-shadow: rgba(0, 0, 0, 0.31) -5px -107px 72px -24px inset;
    max-width: 240px;
}


.profCard {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    width: 380px;
    padding: 2rem;
    margin: 1rem;
    padding-top: 2px;
    -webkit-box-shadow: -13px 1px 11px 1px rgba(0, 0, 0, 0.52);
    box-shadow: -13px 1px 11px 1px rgba(0, 0, 0, 0.52);
}

.profCard:hover {
    transform: scale(1.1);
}

td {
    padding: 5px;
}

.description {
    text-align: left;
    width: 100%;
    display: none;
}


.profCard:hover .description {
    display: block;
}

.profCard:hover .details {
    display: flex;
}

.personaCard {
    box-shadow: rgba(0, 0, 0, 0.22) 0px -111px 56px 5px inset;
    overflow: hidden;
    border: 1px dashed wheat;
    display: table;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.personaCard span {
    font-size: 4rem;
    text-shadow: black 4px 3px 0px;
    display: table-cell;
    vertical-align: middle;
}

.personaCard p {
    flex: 1;
    display: inline-block;
}

.personaCard b {
    font-size: 1.5rem;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

.personaType {
    margin-bottom: -1.5rem;
    border-radius: 9%;
    font-weight: bolder;
    margin-left: 25%;
    margin-right: 25%;
    font-size: larger;
}

.row {
    display: table;
    border-spacing: 20px;
    transform: scale(.5);
    transform-origin: top left;
}

.item {
    display: table-cell;
    flex: 1;
}

.main {
    padding: 3rem;
}

.details {
    display: none;
    padding: 20px;
    position: absolute;
    right: -549px;
    top: 0px;
    width: 500px;
    box-shadow: -17px 0px 20px 0px #0000003d;
    border: 5px outset;
    text-align-last: start;
}

.item:last-child .details {
    left: -549px;
}

.strengths, .weaknesses {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: left;
    flex: 1;
    line-height: 1.1rem;
}

.strengths h3, .weaknesses h3 {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: left;
    flex: 1;
    margin: 0;
    font-weight: bolder;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #212529;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: button;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: button;
}
